body{
    max-width: 100%;
    margin: 0 auto;
}
/* font family */
.font-noto{
  font-family: "Noto Serif", serif;
}
.font-inter{
  font-family: "Inter", sans-serif;
}
.navicon-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
header{
    max-width: 1300px;
    margin: 0 auto;
}
.nav-area{
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    margin-top: 50px;
}
.nav-items{
    display: flex;
    gap: 50px;
}
.nav-items li{
    list-style: none;
}
.nav-items a{
    text-decoration: none;
}
#home{
    font-size: 18px;
    color: rgba(37, 36, 50, 1);
    font-weight: 600;
}
.shop-aboutus{
    font-size: 18px;
    color: rgba(137, 135, 161, 1);
}
.shopping-cart{
    color: black;
    font-size: 13px;
    text-decoration: none;
}
/* nav area responsive for phone */
@media  screen and (max-width: 576px) {
    body{
        max-width: 100%;
        margin: 0 auto;
    }
    header{
        margin: 0 auto;
    }
    .nav-area{
        justify-content: space-around;
        align-items: center;
        gap: 30px;
    }
    .nav-items{
        display: none;
    }
    .shopping-cart{
        text-align: center;
        padding-top: 35px;
        font-size: 15px;
    }   
}
/* nav area responsive for tablet */
/* @media screen and (min-width: 577px) and (max-width: 992px) {
    header{
        max-width: 90%;
        margin: 0 auto;
    }
    .nav-area{
        margin: 30px 50px;
        justify-items: center ;
        align-items: center;
    }
    .nav-items{
        margin-top: 40px;
        gap: 35px;
    }
    
} */
/* banner section */
.banner-section{
    max-width: 1300px;
    margin: 100px auto; 
    display: flex; 
    justify-content: space-between;
    padding-top: 50px;
}
.banner-heading{
    font-size: 65px;
    font-weight: 700;
    margin-bottom: 12px;
}
.banner-details{
    color: rgba(0, 0, 0, 0.5);
    border-left: 7px solid rgba(233, 90, 8, 1);
    border-radius: 7px;
    padding-left: 5px;   
}
.banner-image img{
    max-width: 100%;
}
/* responsive banner section for phone */
@media screen and (max-width: 576px) {
    .banner-section{
        flex-direction: column-reverse;
        margin: 20px 0px 0px 0px;
        padding-top: 10px;
    }
    .banner-tittle h2{
        font-size: 34px;
    }
    .banner-tittle{
        padding-left: 12px;
        padding-right: 10px;
    }
}
/* Plants section */
.plant-section{
    max-width: 1300px;
    margin: 0 auto;
}
.plant-image{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-top: 40px;
}
.plant-cards{
    text-align: center;
    margin-bottom: 20px;
}
.plant-cards:hover{
    transform: scaleX(1.25);
    transition: 2s;
}
.plant-cards img{
    max-width: 100%;
}
.plant-description{
    text-align: center;
}
.plant-description h3{
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 5px;
}
.plant-cards h4{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
}
.plant-cards h5{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 10px;
}
.plant-cards button{
    /* width: 100%; */
    background-color: rgba(233, 90, 8, 1);
    color: white;
    font-size: 15px;
    font-weight: 600;
    border: none;
    padding: 10px;
    width: 85%;
}
@media screen and (max-width: 576px) {
    .plant-image{
        grid-template-columns: repeat(2, 1fr);
        margin: 35px 12px;
    }
    .plant-cards button{
        width: 100%;
    }
    .plant-description{
        padding-left: 10px;
        padding-right: 10px;
    }
    .plant-description h3{
        font-size: 28px;
        margin-bottom: 8px; 
    }
    .plant-cards:hover{
        transform: scale(1.1);
        transition: 1.5s;
    }
    
}
.flower-lover-section{
    max-width: 1300px;
    margin: 0 auto;
    position: relative;
}
#badge{
    height: 280px;
    width: 280px;
    margin-left: 400px;
    margin-top: 0px;   
}
@keyframes spin {
    from {transform: rotateX(0deg);}
    to {transform: rotateY(360deg);}
}
#badge {
    animation: spin 5s linear infinite;
}
.lover-div{
    display: flex;
    gap: 50px; 
    margin-top: 180px;
}
.lover-image img{
    max-width: 100%;
}
.badge-div{
    margin-top: -720px;
}
.lover-description h4{
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 10px;
}
.lover-description li{
    margin-top: 18px;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
}
@media screen and (max-width: 576px) {
    .badge-div{
        display: none;
    }
    .lover-div{
        flex-direction: column;
        padding: 10px;
        margin-top: 20px;
        gap: 15px;
    }
    .lover-description h4{
        font-size: 25px;
        padding-left: 5px;
    }
    .lover-description li{
        font-size: 14px;
    }
    
}
